# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class
**/__pycache__/
*.pyc
**/*.pyc

checkpoint/
data/
output/



models/__pycache__/bert.cpython-310.pyc
models/__pycache__/swin_transformer.cpython-310.pyc
dataset/__pycache__/utils.cpython-310.pyc
dataset/__pycache__/random_erasing.cpython-310.pyc
dataset/__pycache__/eda.cpython-310.pyc
dataset/__pycache__/__init__.cpython-310.pyc
models/__pycache__/swin_transformer.cpython-310.pyc
models/__pycache__/bert.cpython-310.pyc
dataset/__pycache__/eda.cpython-310.pyc
dataset/__pycache__/utils.cpython-310.pyc
dataset/__pycache__/eda.cpython-310.pyc
dataset/__pycache__/__init__.cpython-310.pyc
models/__pycache__/swin_transformer.cpython-310.pyc
models/__pycache__/bert.cpython-310.pyc
dataset/__pycache__/__init__.cpython-310.pyc
dataset/__pycache__/eda.cpython-310.pyc
dataset/__pycache__/random_erasing.cpython-310.pyc
dataset/__pycache__/utils.cpython-310.pyc
dataset/__pycache__/__init__.cpython-310.pyc
dataset/__pycache__/eda.cpython-310.pyc
dataset/__pycache__/random_erasing.cpython-310.pyc
dataset/__pycache__/utils.cpython-310.pyc
models/__pycache__/bert.cpython-310.pyc
models/__pycache__/swin_transformer.cpython-310.pyc
.vscode/launch.json
dataset/__pycache__/__init__.cpython-310.pyc
dataset/__pycache__/eda.cpython-310.pyc
dataset/__pycache__/random_erasing.cpython-310.pyc
dataset/__pycache__/utils.cpython-310.pyc
models/__pycache__/bert.cpython-310.pyc
models/__pycache__/swin_transformer.cpython-310.pyc
.vscode/launch.json
dataset/__pycache__/__init__.cpython-310.pyc
dataset/__pycache__/eda.cpython-310.pyc
dataset/__pycache__/random_erasing.cpython-310.pyc
dataset/__pycache__/utils.cpython-310.pyc
models/__pycache__/bert.cpython-310.pyc
models/__pycache__/swin_transformer.cpython-310.pyc
.vscode/launch.json
.vscode/launch.json
checkpoint
checkpoint
.vscode/launch.json
dataset/__pycache__/__init__.cpython-310.pyc
dataset/__pycache__/eda.cpython-310.pyc
dataset/__pycache__/random_erasing.cpython-310.pyc
dataset/__pycache__/utils.cpython-310.pyc
models/__pycache__/bert.cpython-310.pyc
models/__pycache__/swin_transformer.cpython-310.pyc
.vscode/launch.json
checkpoint
dataset/__pycache__/__init__.cpython-310.pyc
dataset/__pycache__/eda.cpython-310.pyc
dataset/__pycache__/random_erasing.cpython-310.pyc
dataset/__pycache__/utils.cpython-310.pyc
models/__pycache__/bert.cpython-310.pyc
models/__pycache__/swin_transformer.cpython-310.pyc
